.boostify-widget-contact-form-7 {
	display: flex;

	.wpcf7-form-control-wrap {
		display: block;
		margin-top: 10px;
	}

	.wpcf7-form-control {
		max-width: 100%;
	}

	.wpcf7-radio,
	.wpcf7-checkbox {
		position: relative;
		cursor: pointer;
		user-select: none;

		.wpcf7-list-item {
			margin: 0;
		}

		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			border: 1px solid;
			padding: 3px;

			&:after {
				content: "";
				width: 100%;
				height: 100%;
				padding: 0;
				margin: 0;
				display: block;
				transition: .3s all;
			}

			&:checked {
				&:after {
					background: #000;
				}
			}
		}

		label {
			position: relative;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
		}

		.wpcf7-list-item-label {
			padding-left: 25px;
		}

	}

	.wpcf7-radio {
		input {
			border-radius: 50%;

			&:after {
				border-radius: 50%;
			}
		}
	}

	.wpcf7-checkbox {
		input {
			border-radius: 3px;

			&:after {
				border-radius: 3px;
			}
		}
	}

	input[type="submit"] {
		display: block;
	}
}

.boostify-contact-form-button-align-left {

	.wpcf7-submit {
		margin-right: auto;
	}
}

.boostify-contact-form-button-align-center {
	.wpcf7-submit {
		margin-left: auto;
		margin-right: auto;
	}
}

.boostify-contact-form-button-align-right  {
	.wpcf7-submit {
		margin-left: auto;
	}
}

.boostify-contact-form-7-button-full-width .wpcf7-submit {
	width: 100%;
}