.elementor-widget-boostify-testimonial {
	.widget-testimonial {
		.content {
			font-weight: normal;
		}

		.name {
			display: block;
		}
	}
}


.boostify-addon-widget {
	.swiper-pagination {
		position: unset;
	}
}