.boostify-toc-list-wrapper {
	counter-reset: item;
	list-style: none;
	padding: 0;

	.boostify-toc-list-item {
		margin-bottom: 15px;

		&.numbers {
			counter-increment: item;

			.boostify-toc-list-item-text {
				&:before {
					content: counters(item, ".") ". ";
				}

				&:before,
				span:before {
					margin-right: 5px;
				}
			}
		}
	}

	.boostify-toc-list-wrapper {
		margin: 15px 0 0 15px;
	}
}

.boostify-widget-toc {
	border: 1px solid #a4afb7;
	border-radius: 3px;
}

.boostify-toc-header {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	align-items: center;
	border-bottom: 1px solid #a4afb7;

	.elementor-menu-anchor {
		display: none;
	}

	.boostify-toc-toggle-button-expand {
		display: none;
	}

	.list-togle-button {
		cursor: pointer;
	}
}

.boostify-toc-body {
	padding: 30px 20px;
	overflow-y: scroll;
}

