.boostify-grid{
	margin: 0 -15px;
	min-height: 1px;
	display: flex;
	flex-wrap: wrap;
}
.boostify-grid-item{
	padding: 0 15px;
	min-height: 1px;
	min-height: 1px;
}

@media ( min-width: 1024px ){
	@for $i from 1 through 12 {
		.boostify-grid-#{$i} .boostify-grid-item{
			width: calc( 100% / #{$i} );
			@if ( $i > 1 ){
				&:nth-of-type( #{$i}n+#{$i+1} ){
					clear: both;
				}
			}
		}
	}
}

@media ( min-width: 768px ) and ( max-width: 1023px ) {
	@for $i from 1 through 12 {
		.boostify-grid-tablet-#{$i} .boostify-grid-item{
			width: calc( 100% / #{$i} );
			@if ( $i > 1 ){
				&:nth-of-type( #{$i}n+#{$i+1} ){
					clear: both;
				}
			}
		}
	}
}

@media ( max-width: 767px ) {
	@for $i from 1 through 12 {
		.boostify-grid-mobile-#{$i} .boostify-grid-item{
			width: calc( 100% / #{$i} );
			@if ( $i > 1 ){
				&:nth-of-type( #{$i}n+#{$i+1} ){
					clear: both;
				}
			}
		}
	}
}
