.boostify-post-item-wrapper {
  overflow: hidden;
}

.boostify-post-item-wrapper .boostify-post-title {
  margin: 0;
}

.boostify-post-item-wrapper .boostify-post-thumbnail {
  overflow: hidden;
  margin: 0 0 15px;
}

.boostify-post-item-wrapper .boostify-post-title {
  font-size: 20px;
  text-transform: capitalize;
  padding-bottom: 15px;
}

.boostify-post-item-wrapper .boostify-post-read-more {
  display: inline-block;
  clear: both;
}

.boostify-post-item-wrapper .boostify-meta-item {
  text-transform: capitalize;
  font-size: 13px;
}

.boostify-post-item-wrapper .boostify-meta-item:not(:last-child):after {
  content: '/';
}

.boostify-post-item-wrapper .boostify-post-excpert {
  margin-bottom: 25px;
}

.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-excpert .post-excpert,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-read-more,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-meta .boostify-meta-item,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-pagination .page-numbers {
  font-weight: 400;
}

.boostify-pagination {
  display: flex;
  align-items: center;
}

.boostify-pagination .page-numbers {
  display: inline-flex;
  min-width: 30px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.boostify-pagination .page-numbers.next {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  font-size: 1px !important;
}

.boostify-pagination .page-numbers.next:after {
  content: "\f125";
  font-size: 12px;
  font-family: "Ionicons";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
}

.boostify-pagination .page-numbers.prev {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  font-size: 1px !important;
}

.boostify-pagination .page-numbers.prev:after {
  content: "\f124";
  font-size: 12px;
  font-family: "Ionicons";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
}

.boostify-pagination .page-numbers:not(:last-child) {
  margin-right: 8px;
}

.boostify-layout-masonry .boostify-post-item-wrapper {
  border: 1px solid #ededed;
}

.boostify-layout-masonry .boostify-post-info {
  padding: 20px 25px 0;
}

.boostify-layout-masonry .boostify-entry-footer .boostify-post-meta {
  padding: 15px 0;
  border-top: 2px solid #ededed;
  margin-top: 20px;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-thumbnail {
  max-width: 500px;
  margin-bottom: 0;
  line-height: 0;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-info {
  max-width: calc( 100% - 500px);
  padding: 0 15px 0 45px;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-meta {
  margin-bottom: 15px;
  margin-top: 10px;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-title {
  padding-bottom: 25px;
}

.boostify-widget-post-list-wrapper.boostify-layout-zigzag .boostify-post-item:nth-last-of-type(even) .boostify-post-item-wrapper {
  flex-direction: row-reverse;
}

.boostify-widget-post-list-wrapper.boostify-layout-image_right .boostify-post-item-wrapper {
  flex-direction: row-reverse;
}

.boostify-post-slider-widget .swiper-button-next,
.boostify-post-slider-widget .swiper-button-prev {
  top: calc( ( 100% - 35px )/2);
  background-image: none;
  height: 35px;
  width: 35px;
  z-index: 999;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid #eee;
}

.boostify-post-slider-widget .swiper-button-next:after,
.boostify-post-slider-widget .swiper-button-prev:after {
  font-size: 18px;
}

.boostify-post-slider-widget .swiper-button-next.swiper-button-disabled,
.boostify-post-slider-widget .swiper-button-prev.swiper-button-disabled {
  cursor: no-drop;
  pointer-events: auto;
}

.boostify-post-slider-widget .swiper-button-prev {
  left: 0;
}

.boostify-post-slider-widget .swiper-button-next {
  right: 0;
}

.boostify-post-slider-widget .boostify-grid {
  flex-wrap: nowrap;
}

.boostify-widget-post-slider-wrapper {
  z-index: 1;
}
