.boostify-grid {
  margin: 0 -15px;
  min-height: 1px;
  display: flex;
  flex-wrap: wrap;
}

.boostify-grid-item {
  padding: 0 15px;
  min-height: 1px;
  min-height: 1px;
}

@media (min-width: 1024px) {
  .boostify-grid-1 .boostify-grid-item {
    width: calc( 100% / 1);
  }
  .boostify-grid-2 .boostify-grid-item {
    width: calc( 100% / 2);
  }
  .boostify-grid-2 .boostify-grid-item:nth-of-type(2n+3) {
    clear: both;
  }
  .boostify-grid-3 .boostify-grid-item {
    width: calc( 100% / 3);
  }
  .boostify-grid-3 .boostify-grid-item:nth-of-type(3n+4) {
    clear: both;
  }
  .boostify-grid-4 .boostify-grid-item {
    width: calc( 100% / 4);
  }
  .boostify-grid-4 .boostify-grid-item:nth-of-type(4n+5) {
    clear: both;
  }
  .boostify-grid-5 .boostify-grid-item {
    width: calc( 100% / 5);
  }
  .boostify-grid-5 .boostify-grid-item:nth-of-type(5n+6) {
    clear: both;
  }
  .boostify-grid-6 .boostify-grid-item {
    width: calc( 100% / 6);
  }
  .boostify-grid-6 .boostify-grid-item:nth-of-type(6n+7) {
    clear: both;
  }
  .boostify-grid-7 .boostify-grid-item {
    width: calc( 100% / 7);
  }
  .boostify-grid-7 .boostify-grid-item:nth-of-type(7n+8) {
    clear: both;
  }
  .boostify-grid-8 .boostify-grid-item {
    width: calc( 100% / 8);
  }
  .boostify-grid-8 .boostify-grid-item:nth-of-type(8n+9) {
    clear: both;
  }
  .boostify-grid-9 .boostify-grid-item {
    width: calc( 100% / 9);
  }
  .boostify-grid-9 .boostify-grid-item:nth-of-type(9n+10) {
    clear: both;
  }
  .boostify-grid-10 .boostify-grid-item {
    width: calc( 100% / 10);
  }
  .boostify-grid-10 .boostify-grid-item:nth-of-type(10n+11) {
    clear: both;
  }
  .boostify-grid-11 .boostify-grid-item {
    width: calc( 100% / 11);
  }
  .boostify-grid-11 .boostify-grid-item:nth-of-type(11n+12) {
    clear: both;
  }
  .boostify-grid-12 .boostify-grid-item {
    width: calc( 100% / 12);
  }
  .boostify-grid-12 .boostify-grid-item:nth-of-type(12n+13) {
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .boostify-grid-tablet-1 .boostify-grid-item {
    width: calc( 100% / 1);
  }
  .boostify-grid-tablet-2 .boostify-grid-item {
    width: calc( 100% / 2);
  }
  .boostify-grid-tablet-2 .boostify-grid-item:nth-of-type(2n+3) {
    clear: both;
  }
  .boostify-grid-tablet-3 .boostify-grid-item {
    width: calc( 100% / 3);
  }
  .boostify-grid-tablet-3 .boostify-grid-item:nth-of-type(3n+4) {
    clear: both;
  }
  .boostify-grid-tablet-4 .boostify-grid-item {
    width: calc( 100% / 4);
  }
  .boostify-grid-tablet-4 .boostify-grid-item:nth-of-type(4n+5) {
    clear: both;
  }
  .boostify-grid-tablet-5 .boostify-grid-item {
    width: calc( 100% / 5);
  }
  .boostify-grid-tablet-5 .boostify-grid-item:nth-of-type(5n+6) {
    clear: both;
  }
  .boostify-grid-tablet-6 .boostify-grid-item {
    width: calc( 100% / 6);
  }
  .boostify-grid-tablet-6 .boostify-grid-item:nth-of-type(6n+7) {
    clear: both;
  }
  .boostify-grid-tablet-7 .boostify-grid-item {
    width: calc( 100% / 7);
  }
  .boostify-grid-tablet-7 .boostify-grid-item:nth-of-type(7n+8) {
    clear: both;
  }
  .boostify-grid-tablet-8 .boostify-grid-item {
    width: calc( 100% / 8);
  }
  .boostify-grid-tablet-8 .boostify-grid-item:nth-of-type(8n+9) {
    clear: both;
  }
  .boostify-grid-tablet-9 .boostify-grid-item {
    width: calc( 100% / 9);
  }
  .boostify-grid-tablet-9 .boostify-grid-item:nth-of-type(9n+10) {
    clear: both;
  }
  .boostify-grid-tablet-10 .boostify-grid-item {
    width: calc( 100% / 10);
  }
  .boostify-grid-tablet-10 .boostify-grid-item:nth-of-type(10n+11) {
    clear: both;
  }
  .boostify-grid-tablet-11 .boostify-grid-item {
    width: calc( 100% / 11);
  }
  .boostify-grid-tablet-11 .boostify-grid-item:nth-of-type(11n+12) {
    clear: both;
  }
  .boostify-grid-tablet-12 .boostify-grid-item {
    width: calc( 100% / 12);
  }
  .boostify-grid-tablet-12 .boostify-grid-item:nth-of-type(12n+13) {
    clear: both;
  }
}

@media (max-width: 767px) {
  .boostify-grid-mobile-1 .boostify-grid-item {
    width: calc( 100% / 1);
  }
  .boostify-grid-mobile-2 .boostify-grid-item {
    width: calc( 100% / 2);
  }
  .boostify-grid-mobile-2 .boostify-grid-item:nth-of-type(2n+3) {
    clear: both;
  }
  .boostify-grid-mobile-3 .boostify-grid-item {
    width: calc( 100% / 3);
  }
  .boostify-grid-mobile-3 .boostify-grid-item:nth-of-type(3n+4) {
    clear: both;
  }
  .boostify-grid-mobile-4 .boostify-grid-item {
    width: calc( 100% / 4);
  }
  .boostify-grid-mobile-4 .boostify-grid-item:nth-of-type(4n+5) {
    clear: both;
  }
  .boostify-grid-mobile-5 .boostify-grid-item {
    width: calc( 100% / 5);
  }
  .boostify-grid-mobile-5 .boostify-grid-item:nth-of-type(5n+6) {
    clear: both;
  }
  .boostify-grid-mobile-6 .boostify-grid-item {
    width: calc( 100% / 6);
  }
  .boostify-grid-mobile-6 .boostify-grid-item:nth-of-type(6n+7) {
    clear: both;
  }
  .boostify-grid-mobile-7 .boostify-grid-item {
    width: calc( 100% / 7);
  }
  .boostify-grid-mobile-7 .boostify-grid-item:nth-of-type(7n+8) {
    clear: both;
  }
  .boostify-grid-mobile-8 .boostify-grid-item {
    width: calc( 100% / 8);
  }
  .boostify-grid-mobile-8 .boostify-grid-item:nth-of-type(8n+9) {
    clear: both;
  }
  .boostify-grid-mobile-9 .boostify-grid-item {
    width: calc( 100% / 9);
  }
  .boostify-grid-mobile-9 .boostify-grid-item:nth-of-type(9n+10) {
    clear: both;
  }
  .boostify-grid-mobile-10 .boostify-grid-item {
    width: calc( 100% / 10);
  }
  .boostify-grid-mobile-10 .boostify-grid-item:nth-of-type(10n+11) {
    clear: both;
  }
  .boostify-grid-mobile-11 .boostify-grid-item {
    width: calc( 100% / 11);
  }
  .boostify-grid-mobile-11 .boostify-grid-item:nth-of-type(11n+12) {
    clear: both;
  }
  .boostify-grid-mobile-12 .boostify-grid-item {
    width: calc( 100% / 12);
  }
  .boostify-grid-mobile-12 .boostify-grid-item:nth-of-type(12n+13) {
    clear: both;
  }
}

.boostify-button-widget .boostify--btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 12px 20px;
  overflow: hidden;
  z-index: 1;
}

.boostify-button-widget .boostify-btn-default,
.boostify-button-widget .boostify-btn--hover {
  position: absolute;
  transition: all 0.3s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
}

.boostify-button-widget .boostify-btn-default {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.boostify-button-widget .boostify-label-hover {
  opacity: 0;
  color: #ffffff;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.44, 0.13, 0.48, 0.87);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boostify-align-center .boostify-button-widget {
  text-align: center;
}

.boostify-align-left .boostify-button-widget {
  text-align: left;
}

.boostify-align-right .boostify-button-widget {
  text-align: right;
}

.boostify-align-justify .boostify--btn {
  width: 100%;
}

@media (max-width: 1023px) {
  .boostify-tablet-align-center .boostify-button-widget {
    text-align: center;
  }
  .boostify-tablet-align-center .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-tablet-align-left .boostify-button-widget {
    text-align: left;
  }
  .boostify-tablet-align-left .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-tablet-align-right .boostify-button-widget {
    text-align: right;
  }
  .boostify-tablet-align-right .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-tablet-align-justify .boostify--btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .boostify-mobile-align-center .boostify-button-widget {
    text-align: center;
  }
  .boostify-mobile-align-center .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-mobile-align-left .boostify-button-widget {
    text-align: left;
  }
  .boostify-mobile-align-left .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-mobile-align-right .boostify-button-widget {
    text-align: right;
  }
  .boostify-mobile-align-right .boostify-button-widget .boostify--btn {
    width: auto;
  }
  .boostify-mobile-align-justify .boostify--btn {
    width: 100%;
  }
}

.btn-effect-default {
  transition: all 0.3s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.btn-effect-default .boostify-btn--hover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.btn-effect-default .boostify-label-hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-effect-default:hover .boostify-btn--hover {
  opacity: 1;
}

.btn-effect-default:hover .boostify-label-hover {
  opacity: 1;
}

.btn-effect-default:hover .boostify-btn-default {
  opacity: 0;
}

.btn-effect-slide-to-top .boostify-btn--hover {
  bottom: 0;
  top: 100%;
  left: 0;
  width: 100%;
}

.btn-effect-slide-to-top:hover .boostify-btn--hover {
  top: 0;
  transition: all 0.3s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.btn-effect-slide-to-top:hover .boostify-btn-default {
  opacity: 0;
}

.btn-effect-slide-to-top:hover .boostify-label-hover {
  opacity: 1;
}

.btn-effect-slide-to-bottom .boostify-btn--hover {
  top: 0;
  bottom: 100%;
  left: 0;
  width: 100%;
}

.btn-effect-slide-to-bottom:hover .boostify-btn--hover {
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.44, 0.13, 0.48, 0.87);
}

.btn-effect-slide-to-bottom:hover .boostify-btn-default {
  opacity: 0;
}

.btn-effect-slide-to-bottom:hover .boostify-label-hover {
  opacity: 1;
}

.btn-effect-slide-to-left .boostify-btn--hover {
  right: 0;
  left: 100%;
  top: 0;
  bottom: 0;
}

.btn-effect-slide-to-left:hover .boostify-btn--hover {
  left: 0;
}

.btn-effect-slide-to-left:hover .boostify-btn-default {
  opacity: 0;
}

.btn-effect-slide-to-left:hover .boostify-label-hover {
  opacity: 1;
}

.btn-effect-slide-to-right .boostify-btn--hover {
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
}

.btn-effect-slide-to-right:hover .boostify-btn--hover {
  right: 0;
}

.btn-effect-slide-to-right:hover .boostify-btn-default {
  opacity: 0;
}

.btn-effect-slide-to-right:hover .boostify-label-hover {
  opacity: 1;
}

.btn-effect-grow {
  transition: all 0.8s;
  transform: scale(1);
}

.btn-effect-grow:hover {
  transform: scale(1.1);
}

.btn-effect-shrink {
  transition: all 0.8s;
  transform: scale(1);
}

.btn-effect-shrink:hover {
  transform: scale(0.9);
}

.btn-effect-push {
  transition: all 0.8s;
  transform: translateY(0);
}

.btn-effect-push:hover {
  transform: translateY(-12px);
}

.widget-breadcrumb--wrapper .list-breadcrumb-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.widget-breadcrumb--wrapper .list-breadcrumb-item .boostify-item-breadcrumb {
  margin: 0;
}

.widget-breadcrumb--wrapper .default-separator .boostify-item-breadcrumb:not(:last-child) .item-title:after {
  content: '\203A';
}

.boostify-post-item-wrapper {
  overflow: hidden;
}

.boostify-post-item-wrapper .boostify-post-title {
  margin: 0;
}

.boostify-post-item-wrapper .boostify-post-thumbnail {
  overflow: hidden;
  margin: 0 0 15px;
}

.boostify-post-item-wrapper .boostify-post-title {
  font-size: 24px;
  text-transform: capitalize;
  padding-bottom: 5px;
}

.boostify-post-item-wrapper .boostify-post-read-more {
  display: inline-block;
  clear: both;
}

.boostify-post-item-wrapper .boostify-post-meta {
  margin-bottom: 15px;
}

.boostify-post-item-wrapper .boostify-meta-item {
  text-transform: capitalize;
  font-size: 14px;
}

.boostify-post-item-wrapper .boostify-meta-item:not(:last-child):after {
  content: '/';
}

.boostify-post-item-wrapper .boostify-post-excpert {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 1.67;
}

.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-excpert .post-excpert,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-read-more,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-post-meta .boostify-meta-item,
.elementor-widget-boostify-post-grid .boostify-post-item-wrapper .boostify-pagination .page-numbers {
  font-weight: 400;
}

.boostify-pagination {
  display: flex;
  align-items: center;
}

.boostify-pagination .page-numbers {
  display: inline-flex;
  min-width: 30px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.boostify-pagination .page-numbers.next {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  font-size: 1px !important;
}

.boostify-pagination .page-numbers.next:after {
  content: "\f125";
  font-size: 12px;
  font-family: "Ionicons";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
}

.boostify-pagination .page-numbers.prev {
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  font-size: 1px !important;
}

.boostify-pagination .page-numbers.prev:after {
  content: "\f124";
  font-size: 12px;
  font-family: "Ionicons";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000;
}

.boostify-pagination .page-numbers:not(:last-child) {
  margin-right: 8px;
}

.boostify-layout-masonry .boostify-post-item-wrapper {
  border: 1px solid #ededed;
}

.boostify-layout-masonry .boostify-post-info {
  padding: 20px 25px 0;
}

.boostify-layout-masonry .boostify-entry-footer .boostify-post-meta {
  padding: 15px 0;
  border-top: 2px solid #ededed;
  margin-top: 20px;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-thumbnail {
  width: 500px;
  margin-bottom: 0;
  line-height: 0;
}

@media (max-width: 991px) {
  .boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-thumbnail {
    width: 100%;
    margin-bottom: 20px;
  }
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-info {
  width: calc( 100% - 500px);
  padding: 0 15px 0 45px;
}

@media (max-width: 991px) {
  .boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-info {
    width: 100%;
    padding: 0;
  }
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-meta {
  margin-bottom: 10px;
  margin-top: 10px;
}

.boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-title {
  padding-bottom: 25px;
}

@media (max-width: 991px) {
  .boostify-widget-post-list-wrapper .boostify-post-item-wrapper .boostify-post-item {
    margin-bottom: 30px;
  }
}

.boostify-widget-post-list-wrapper.boostify-layout-zigzag .boostify-post-item:nth-last-of-type(even) .boostify-post-item-wrapper {
  flex-direction: row-reverse;
}

.boostify-widget-post-list-wrapper.boostify-layout-image_right .boostify-post-item-wrapper {
  flex-direction: row-reverse;
}

.boostify-post-slider-widget .swiper-button-next,
.boostify-post-slider-widget .swiper-button-prev {
  top: calc( ( 100% - 35px )/2);
  background-image: none;
  height: 35px;
  width: 35px;
  z-index: 999;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid #eee;
}

.boostify-post-slider-widget .swiper-button-next:after,
.boostify-post-slider-widget .swiper-button-prev:after {
  font-size: 18px;
}

.boostify-post-slider-widget .swiper-button-next.swiper-button-disabled,
.boostify-post-slider-widget .swiper-button-prev.swiper-button-disabled {
  cursor: no-drop;
  pointer-events: auto;
}

.boostify-post-slider-widget .swiper-button-prev {
  left: 0;
}

.boostify-post-slider-widget .swiper-button-next {
  right: 0;
}

.boostify-post-slider-widget .boostify-grid {
  flex-wrap: nowrap;
}

.boostify-widget-post-slider-wrapper {
  z-index: 1;
}

.elementor-widget-boostify-post-slider .boostify-widget-post-slider-wrapper .boostify-meta-item,
.elementor-widget-boostify-post-slider .boostify-widget-post-slider-wrapper .boostify-post-excpert .post-excpert,
.elementor-widget-boostify-post-slider .boostify-widget-post-slider-wrapper .boostify-post-read-more,
.elementor-widget-boostify-post-list .boostify-widget-post-list-wrapper .boostify-meta-item,
.elementor-widget-boostify-post-list .boostify-widget-post-list-wrapper .boostify-post-excpert .post-excpert,
.elementor-widget-boostify-post-list .boostify-widget-post-list-wrapper .boostify-post-read-more {
  font-weight: normal;
}
